
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Andy | 乔聪的博客</title>
{% endblock title %}





{% block main %}
{% for post in post_list %}
    <div class="article-mark" display:none>
        <a href="{{post.get_absolute_url}}" class="article-link">
            <div article-card class="post post-{{ post.pk }}">
                <header class="entry-header">
                    <h1 class="entry-title">
                        <!--a >{{post.title}}</a-->
                        {{post.title}}
                    </h1>
                    <div class="entry-meta">
                        <!--span class="post-category"><a href="#">{{ post.category.name }}</a></span-->
                        <span class="post-category">{{ post.category.name }}</span>
                        <!-- <span class="post-date"><a href="#"><time class="entry-date"
                            datetime="{{post.created_time}}">{{post.created_time}}</time></a></span--> 
                        <span class="post-date"><time class="entry-date"
                            datetime="{{post.created_time}}">{{post.created_time}}</time></span>
                            <span class="post-author">{{ post.author }}</span>
                        <span class="comments-link">{{post.comment_set.count}} 评论</span>
                        <span class="views-count">{{post.views}}阅读</span>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    <p>{{ post.excerpt }}</p>
                    <!-- <div class="read-more cl-effect-14">
                        <a href="{{post.get_absolute_url}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                    </div> -->
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    <div class="no-post">暂时还没有发布的文章！</div>
{% endfor %}
{% endblock main %}

{% block toc %}
{% endblock toc %}