
{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    <title>Andy | 乔聪的博客</title>
{% endblock title %}

{% block banner-block %}
<div class="banner-block">
    <div class="my">
        <img class="avatar" src="{% static 'blog_andy/img/avatar.jpg' %}">
        <div class="my-name">乔聪</div>
        <div class="keep-in-touch">
            <a href="mailto:qiaoconglovelife@163.com?subject=来自博客">
                <img class="email touch" src="{% static 'blog_andy/img/email.jpg' %}" >
            </a>
            <a href="https://github.com/AndyQiao">
                <img class="github touch" src="{% static 'blog_andy/img/github.jpg' %}">
            </a>
        </div>
    </div>
    <div class="my-bulabula">
        <h2 class="banner-block-title">欢迎来到我的小窝</h2>
        <p class="banner-p">
            怀才就像怀孕，是憋不住的。所以我要随性写一些东西，记录一下所看、所做、所想。为什么自己搭建博客？因为博客园实在是太丑了，哈哈……<br>
            作为一个有追求的后端，我难容忍自己前端代码写得这么烂，我很别扭。但，我会持续优化的，请相信我，我很靠谱的[正经脸]。
        </p>    
    </div>
</div>
{% endblock banner-block %}





{% block main %}
{% for post in post_list %}
    <div class="article-mark" display:none>
        <a href="{{post.get_absolute_url}}" class="article-link">
            <div article-card class="post post-{{ post.pk }}">
                <header class="entry-header">
                    <h1 class="entry-title">
                        <!--a >{{post.title}}</a-->
                        {{post.title}}
                    </h1>
                    <div class="entry-meta">
                        <!--span class="post-category"><a href="#">{{ post.category.name }}</a></span-->
                        <span class="post-category">{{ post.category.name }}</span>
                        <!-- <span class="post-date"><a href="#"><time class="entry-date"
                            datetime="{{post.created_time}}">{{post.created_time}}</time></a></span--> 
                        <span class="post-date"><time class="entry-date"
                            datetime="{{post.created_time}}">{{post.created_time}}</time></span>
                            <span class="post-author">{{ post.author }}</span>
                        <span class="comments-link">{{post.comment_set.count}} 评论</span>
                        <span class="views-count">{{post.views}}阅读</span>
                    </div>
                </header>
                <div class="entry-content clearfix">
                    <p>{{ post.excerpt }}</p>
                    <!-- <div class="read-more cl-effect-14">
                        <a href="{{post.get_absolute_url}}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                    </div> -->
                </div>
            </div>
        </a>
    </div>
    {% empty %}
    <div class="no-post">暂时还没有发布的文章！</div>
{% endfor %}
{% endblock main %}

{% block toc %}
{% endblock toc %}